This notebook exists to help perform some transformations and inspections of data.  Goal is to eventually collapse this into a .py file.

Data Sources / credits:
* Census data selector CSV download from: https://www.census.gov/data-tools/demo/saipe/#/?map_geoSelector=aa_c&s_year=2018,2017,2015,2009&map_yearSelector=2009
* Andrew's API key: 809a11b265cd8f07473e64706d722d9c5aa77b23

In [20]:
# Install some helpful libraries
#!pip install geopy

# This notebook will analyze two datasets: the college town and hometown
# input sources.  True/False toggles which one you're working on.  Default
# set to False, for timeliness.
hometown = False

# Importing necessary libraries
import pandas as pd
import geopy.geocoders
from geopy.geocoders import Nominatim
from functools import partial
from geopy.extra.rate_limiter import RateLimiter

# Setup our geolocator
geopy.geocoders.options.default_timeout = 7
geolocator = Nominatim(user_agent="college-town-econ-extractor-v2")
geocode = partial(geolocator.geocode, language="en", min_delay_seconds=1)

In [21]:
# Reading the files
if hometown == False:
    fpath = '../college-input.csv'
else:
    fpath = '../hometown-input.csv'
city_df = pd.read_csv(fpath,header=0)
city_df['county'],city_df['state'],city_df['poverty_pct'],city_df['med_income']='','','',''
fpath = './census/SAIPESNC_30MAY20_00_49_30_76.csv'
census_df = pd.read_csv(fpath)

In [22]:
# Identify counties and econ data for each city
# Starting with a single year
year = 2018

for i in range(city_df.shape[0]):
    city,state = city_df['Geographic Location'][i].split(",")
    location = geolocator.geocode(city+state+" usa")
    try:
        loc = location[0].split(',')[1:3]
        #print(city,state," - ",end="")
        #print(location)
        cty = ""
        for l in location[0].split(','):
            if 'county' in l.lower():
                cty = l
            else:
                if 'parish' in l.lower():
                    cty = l
        if cty == "":
            print("County not found for:",location)
            continue
        city_df.at[i,'county'],city_df.at[i,'state']=cty,state
        for n in range(census_df.shape[0]):
            if census_df['State / County Name'][n].split("(")[0].strip() == cty.strip():
                if int(census_df['Year'][n]) == year:
                    city_df.at[i,'poverty_pct'],city_df['med_income'] = float(census_df['All Ages in Poverty Percent'][n]),census_df['Median Household Income in Dollars'][n]
    except TypeError:
        continue

County not found for: Indianapolis, Marion, Indiana, United States of America
County not found for: Little Rock, Arkansas, United States of America
County not found for: PLAZA USA, 環七通り, 代田, 船橋, 東京都, 世田谷区, 156-0042, 日本 (Japan)
County not found for: West Valley City, Utah, United States of America
County not found for: Waterloo, Iowa, United States of America
County not found for: Washington, District of Columbia, 20500, United States of America
County not found for: Racine, Wisconsin, United States of America
County not found for: Madison Middle School, Rhodes Street, Madison, Illinois, 62040, United States of America
County not found for: USA Park, Rua Voluntários da Pátria, Botafogo, Zona Sul do Rio de Janeiro, Rio de Janeiro, Região Geográfica Imediata do Rio de Janeiro, Região Metropolitana do Rio de Janeiro, Região Geográfica Intermediária do Rio de Janeiro, Rio de Janeiro, Região Sudeste, 22270-000, Brasil
County not found for: Swisher, Iowa, United States of America
County not found for: Pawtucket, Rhode Island, United States of America
County not found for: Saint Louis, City of Saint Louis, Missouri, 63102-1102, United States of America
County not found for: West Bountiful, Utah, United States of America
County not found for: USA Nails, Kirchstraße, Achern, Verwaltungsgemeinschaft Achern, Ortenaukreis, Baden-Württemberg, 77855, Deutschland
County not found for: South Jordan, Utah, United States of America
County not found for: Calle Managua, Las Américas, Puerto Nuevo, Río Piedras, San Juan, Puerto Rico, 00921-6528, United States of America
County not found for: Norman, Oklahoma, United States of America
County not found for: Baltimore, Maryland, United States of America
County not found for: Moore, Oklahoma, 73160, United States of America
County not found for: Vidalia, Toombs, Georgia, United States of America
County not found for: Suffolk, Virginia, United States of America
County not found for: Kaysville, Utah, 84037, United States of America
County not found for: Cedar Falls, Iowa, 50613, United States of America
County not found for: Roanoke, Roanoke (city), Virginia, 24011, United States of America
County not found for: USA Nails & Foot Spa, Moreton Bay Road, Capalaba, Queensland, 4161, Australia
County not found for: Virginia Beach, Virginia, United States of America
County not found for: Newport News, Newport News City, Virginia, United States of America
County not found for: Cottonwood Heights, Utah, United States of America
County not found for: Kearns, Utah, 84118, United States of America
County not found for: Richmond, Richmond City, Virginia, 23298, United States of America
County not found for: Fairfax, Virginia, United States of America
County not found for: Raynham, Massachusetts, 02767, United States of America
County not found for: Almere Avenue, Vinegar Hill, Charlottesville, Virginia, 22902, United States of America
County not found for: Brandon Middle School, Simon Street, Brigadoon, Virginia Beach, Virginia, 23464, United States of America
County not found for: Baxley, Appling, Georgia, United States of America
County not found for: Butler, Georgia, 31006, United States of America
County not found for: Saint Francis, Wisconsin, 53235, United States of America
County not found for: West Allis, Wisconsin, United States of America
County not found for: Manchester Court, Salem, Salem (city), Virginia, 24153, United States of America
County not found for: Chesapeake, Virginia, United States of America
County not found for: Stillwater, Oklahoma, United States of America
County not found for: Alexandria, Virginia, United States of America
County not found for: Lynchburg, Lynchburg (city), Virginia, 24505, United States of America
County not found for: Hampton, Hampton City, Virginia, 23669-4019, United States of America
County not found for: Loganville, Georgia, United States of America
County not found for: New York, United States of America
County not found for: Camp Hill, Pennsylvania, United States of America
County not found for: Draper, Utah, United States of America
County not found for: Milwaukee, Wisconsin, United States of America
County not found for: Sandy, Utah, United States of America
County not found for: Hopewell, Hopewell City, Virginia, 23860, United States of America
County not found for: Belleville, Saint Clair, Illinois, United States of America
County not found for: Fairbanks, Fairbanks North Star, Alaska, United States of America
County not found for: Franklin, Wisconsin, 53132, United States of America
County not found for: Greendale, Wisconsin, 53129, United States of America
County not found for: Coggon, Iowa, United States of America
County not found for: Cedar Rapids, Iowa, United States of America
County not found for: Williamsburg, Virginia, United States of America
County not found for: Anchorage, Alaska, United States of America
County not found for: Fredericksburg, Fredericksburg City, Virginia, United States of America
County not found for: York, Pennsylvania, United States of America
County not found for: Charlottesville, Virginia, United States of America
County not found for: Providence, Rhode Island, United States of America
County not found for: Hanover, Pennsylvania, 17331, United States of America
County not found for: Norfolk, Virginia, United States of America
County not found for: Bountiful, Utah, 84010, United States of America
County not found for: Herriman, Utah, 84096, United States of America
County not found for: Clifton, Manassas (city), Virginia, United States of America
County not found for: Iowa, United States of America
County not found for: Portsmouth, Rhode Island, United States of America
County not found for: South Milwaukee, Wisconsin, 53172, United States of America
County not found for: Watertown Court, Rudee Heights, Virginia Beach, Virginia, 23451, United States of America
County not found for: Dillsburg, Cumberland, Pennsylvania, United States of America
County not found for: Edwardsville, Madison, Illinois, United States of America
County not found for: Woods Cross, Utah, 84087, United States of America
County not found for: Holladay, Utah, 84124, United States of America
County not found for: Winchester, Winchester City, Virginia, 22601, United States of America
County not found for: Dike, Iowa, United States of America
County not found for: Guthrie, Oklahoma, United States of America
County not found for: Mustang, Oklahoma, 73064, United States of America
County not found for: Cabo Rojo, Puerto Rico, 00623-0910, United States of America
County not found for: East Saint Louis, Saint Clair, Illinois, United States of America
County not found for: Libertyville, Iowa, United States of America
County not found for: Newton, Iowa, 50208, United States of America
County not found for: Glen Carbon, Madison, Illinois, United States of America
County not found for: Wauwatosa, Wisconsin, United States of America
County not found for: Yerington, Nevada, 89447, United States of America
County not found for: Washington, District of Columbia, 20500, United States of America
County not found for: Martinsville, Martinsville City, Virginia, United States of America
County not found for: Carrollton Viaduct, Gwynns Falls Trail, Milhill, Baltimore, Maryland, 21223, United States of America
County not found for: Granite City, Madison, Illinois, 62040, United States of America
County not found for: Galax, Galax City, Virginia, 24333, United States of America
County not found for: West Point, Utah, United States of America
County not found for: Grantsville, Utah, 84029, United States of America
County not found for: East Greenwich, Kent, Rhode Island, 02818, United States of America
County not found for: Hinton, Oklahoma, United States of America
County not found for: Yukon, Oklahoma, United States of America
County not found for: Stroud, Oklahoma, 74079, United States of America
County not found for: Tuttle, Oklahoma, 73089, United States of America
County not found for: Minco, Oklahoma, 73059, United States of America
County not found for: Manassas, Virginia, United States of America
County not found for: Salem, Salem (city), Virginia, 24153, United States of America

County not found for: Danville, Danville City, Virginia, United States of America
County not found for: Spring Grove, York, Pennsylvania, United States of America
County not found for: Fernley, Nevada, 89408, United States of America
County not found for: Carson City, Nevada, United States of America
County not found for: Roanoke, Roanoke (city), Virginia, 24011, United States of America
County not found for: Sheridan, Arkansas, United States of America
County not found for: Palo, Iowa, United States of America
County not found for: Shellsburg, Iowa, United States of America
County not found for: Burlington, Walworth, Wisconsin, 53105, United States of America
County not found for: Taylorsville, Utah, United States of America
County not found for: Star City, Arkansas, 71667, United States of America
County not found for: Dartmouth, Massachusetts, United States of America
County not found for: Farmington, Utah, 84025, United States of America
County not found for: Manti, Utah, 84642, United States of America
County not found for: Whitefish Bay, Wisconsin, 53217-5399, United States of America
County not found for: Allentown, Georgia, 31003, United States of America
County not found for: Stansbury Park, Utah, United States of America
County not found for: North Salt Lake, Utah, 84054, United States of America
County not found for: Oak Creek, Wisconsin, 53172, United States of America
County not found for: Brown Deer, Wisconsin, 53223, United States of America
County not found for: Blanchard, Oklahoma, United States of America
County not found for: York, Pennsylvania, United States of America
County not found for: Petersburg, Virginia, 23804, United States of America
County not found for: Westerly, Washington, Rhode Island, United States of America
County not found for: Stewartsville, Greenwich Township, New Jersey, 08886, United States of America
County not found for: Syracuse, Utah, 84075, United States of America
County not found for: Speedway, Marion, Indiana, 46224, United States of America
County not found for: Curtice, Allen Township, Ohio, 43412, United States of America

In [23]:
city_df

     Geographic Location                  county state poverty_pct med_income
0           Lakeland, FL             Polk County    FL         9.6    $69,212
1               Howe, TX          Grayson County    TX        18.4    $69,212
2          Northport, AL       Tuscaloosa County    AL        16.8    $69,212
3            Bristow, VA   Prince William County    VA         6.4    $69,212
4          Covington, GA           Newton County    GA        22.3    $69,212
...                  ...                     ...   ...         ...        ...
3636           Watts, CA      Los Angeles County    CA        14.2    $69,212
3637       Groesbeck, TX        Limestone County    TX        22.2    $69,212
3638           Ogden, UT            Weber County    UT         9.4    $69,212
3639         Connell, WA         Franklin County    WA        13.4    $69,212
3640   West Richland, WA           Benton County    WA         9.8    $69,212

[3641 rows x 5 columns]

In [24]:
census_df

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2018,0,0,United States,"319,184,033","41,852,315","41,619,366","42,085,264","41,619,366 to 42,085,264",13.1,...,"3,802,546","3,714,862 to 3,802,546",19.5,19.3,19.7,19.3 to 19.7,"$61,937","$61,843","$62,031","$61,843 to $62,031"
1,2017,0,0,United States,"317,741,588","42,583,651","42,342,619","42,824,683","42,342,619 to 42,824,683",13.4,...,"3,985,293","3,880,645 to 3,985,293",20.2,19.9,20.5,19.9 to 20.5,"$60,336","$60,250","$60,422","$60,250 to $60,422"
2,2015,0,0,United States,"313,476,400","46,153,077","45,878,016","46,428,138","45,878,016 to 46,428,138",14.7,...,"4,499,317","4,397,105 to 4,499,317",22.8,22.5,23.1,22.5 to 23.1,"$55,775","$55,690","$55,860","$55,690 to $55,860"
3,2009,0,0,United States,"299,026,555","42,868,163","42,631,574","43,104,752","42,631,574 to 43,104,752",14.3,...,"4,907,599","4,792,377 to 4,907,599",23.2,23.0,23.5,23.0 to 23.5,"$50,221","$50,147","$50,295","$50,147 to $50,295"
4,2018,1,1000,Alabama,"4,763,811","801,758","785,668","817,848","785,668 to 817,848",16.8,...,"77,840","69,990 to 77,840",26.0,24.6,27.4,24.6 to 27.4,"$49,881","$49,123","$50,639","$49,123 to $50,639"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12772,2009,56,56043,Washakie County (WY),"7,725",889,661,"1,117","661 to 1,117",11.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,098","$42,536","$51,659","$42,536 to $51,659"
12773,2018,56,56045,Weston County (WY),"6,595",777,608,946,608 to 946,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,319","$48,315","$60,323","$48,315 to $60,323"
12774,2017,56,56045,Weston County (WY),"6,573",699,541,857,541 to 857,10.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,214","$50,250","$62,178","$50,250 to $62,178"
12775,2015,56,56045,Weston County (WY),"6,884",675,520,830,520 to 830,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,986","$54,751","$67,221","$54,751 to $67,221"
12776,2009,56,56045,Weston County (WY),"6,698",663,507,819,507 to 819,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,642","$45,337","$55,947","$45,337 to $55,947"

In [25]:
if hometown == False:
    city_df.to_csv('../collegetown-econ-output.csv', index=False)
else:
    city_df.to_csv('../hometown-econ-output.csv', index=False)